<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AVI_Indigo.Properties.Settings.IndigoConnectionString"
            connectionString="Data Source=DAVIDBRITS\SQLEXPRESS;Initial Catalog=Indigo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>